@model IEnumerable<GOTIV2.Models.sp_SGRQ_Requerimiento_Lista_Result>

@{
    ViewBag.Title = "Index";
    var msj = TempData["Mensaje"];
}

<div class="row">
    <p>&nbsp;</p>
    <h4>Lista de Solicitudes de Requerimientos</h4>
    <p>&nbsp;</p>
    @using (Html.BeginForm())
    {

        <div class="panel panel-primary">
            <div class="panel-heading">Búsqueda</div>
            <div class="panel-body">

                <div class="row form-group">
                    <div class="col-md-2 control-label" style="line-height:34px">Establecimiento :</div>
                    <div class="col-md-5">
                        @Html.DropDownList("areaId", (SelectList)ViewBag.Areas, "Seleccionar", new { @class = "form-control" })
                    </div>
                </div>


            </div>
            <div class="panel-footer " style="text-align:right">
                <input type="submit" value="Consultar" class="btn btn-primary" />
                @Html.ActionLink("Crear Nuevo", "Registrar", "Requerimiento", null, new { @class = "btn btn-warning" })
            </div>
        </div>


        <div class="alert alert-info" role="alert" style="margin-bottom:20px">
            Total de Requerimientos encontrados: @Model.Count()
        </div>

        <div class="row" style="margin:0 1px 0 1px">
            @if (msj != null)
            {
                <div class="alert alert-success" role="alert">  @msj</div>
            }
        </div>

        <table class="table table-bordered" style="font-size: smaller">
            <thead style="background-color:#eaeaea">
                <tr>
                    <th style="text-align: center; vertical-align: middle">
                        ID
                    </th>
                    <th style="text-align: center; vertical-align: middle">
                        Requerimiento
                    </th>




                    <th style="text-align: center; vertical-align: middle">
                        Tipo Requerimiento
                    </th>
                    <th style="text-align: center; vertical-align: middle">
                        Area
                    </th>


                    @*<th style="text-align: center; vertical-align: middle">
                        Aprobado
                    </th>
                    <th style="text-align: center; vertical-align: middle">
                        Proyecto
                    </th>
                    <th style="text-align: center; vertical-align: middle">
                        Link
                    </th>
                    <th style="text-align: center; vertical-align: middle">
                        Estado
                    </th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td style="text-align: center; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.Requerimiento_Id)
                        </td>
                        <td style="text-align: left; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.Asunto)
                        </td>
                        <td style="text-align: left; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.TipoRequerimiento_Descripcion)
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.AreaInstitucionAbreviatura)
                        </td>


                        @*<td style="text-align: center; vertical-align: middle">
                            @if (item.Aprobado == true)
                            {
                                <span class="label label-info">SI</span>
                            }
                        </td>



                        <td style="text-align: center; vertical-align: middle">
                            @if (item.Proyecto_Id != null)
                            {
                                <span> PRY - @string.Format("{0:000}", item.Proyecto_Id)</span>
                            }
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @if (item.Proyecto_Id != null)
                            {
                                @Html.ActionLink(" ", "ResumenProyectoCliente", "Proyecto", new { Id = item.Proyecto_Id }, new { @class = "glyphicon glyphicon-globe" })
                            }

                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @if (item.Proyecto_Id != null)
                            {
                                if (item.Avance == 0)
                                {
                                    <span class="glyphicon glyphicon-time"></span>
                                }


                                if (item.Avance > 0 && item.Avance < 100)
                                {
                                    <span class="glyphicon glyphicon-wrench"></span>
                                }
                                if (item.Avance == 100)
                                {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                            }
                        </td>*@


                    </tr>
                }
            </tbody>
        </table>
    }

</div>