@model List<GOTIV2.Models.sp_STG_Expedientes_Listar_Result>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<h4>&nbsp;</h4>
<h4>Expedientes Pendientes</h4>
<h4>&nbsp;</h4>
<div class="alert alert-info" role="alert" style="margin-bottom:20px">Total de Expedientes Pendientes: @Model.Count</div>


    <table class="table table-bordered" style="font-size: smaller">
        <thead style="background-color:#eaeaea">
            <tr>
                <th style="text-align: center; vertical-align: middle">
                    Nro.
                </th>
                <th style="text-align: center; vertical-align: middle">
                    Expediente
                </th>

                <th style=" vertical-align: middle" >
                    Remitente
                </th>
                <th style="text-align: center; vertical-align: middle" width="500">
                    Asunto
                </th>
                <th style="text-align: center; vertical-align: middle" width="70">
                    Recepción OTI
                </th>

                @*<th style="text-align: center; vertical-align: middle" width="70">
                    Requiere Respuesta
                </th>*@
             
                <th style="text-align: center; vertical-align: middle" width="70">
                    Fecha Limite
                </th>
                <th style="text-align: center; vertical-align: middle">
                    Designado
                </th>
                <th style="text-align: center; vertical-align: middle" width="40">
                    
                </th>
               
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
             
                <tr>
                    <td style="text-align: center; vertical-align: middle">
                  
                        @string.Format("{0:0000}", item.Expediente_Id)
                    </td>
                    <td style="text-align: left; vertical-align: middle ">
                        
                       @item.NroExpediente
                   
                    <td style="text-align: left; vertical-align: middle ">
                        
                     
                         @item.UsuarioSolicitante
                       
                    </td>
                 
                    <td style="vertical-align: middle">
                        @item.Asunto
                    </td>

                    <td style="text-align: center; vertical-align: middle">
                        @item.FechaRecepcionOTI.Value.ToShortDateString()
                    </td>
                
                    @*<td style="text-align: center; vertical-align: middle">
                        @if (item.RequiereRespuesta == true)
                        {
                           <span>Si</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>*@
                    <td style="text-align: center; vertical-align: middle">
                       @if (item.FechaLimite != null)
                        {
                         @item.FechaLimite.Value.ToShortDateString()
                        }
                    </td>
                    <td style=" text-align: center; vertical-align: middle">
                        @if (item.UsuarioIdTecnicoDesignado != null)
                        {
                            @item.UsuarioTecnicoDesignado
                           
                        }
                    </td>
                    <td style="text-align: center; vertical-align: middle">  
                        @if (ViewBag.Perfil == 1 || ViewBag.Perfil == 2 )
                        {
                            if (item.RequiereRespuesta == true)
                            {
                                
                                  @Html.ActionLink(" ", "Cerrar", "Expediente", new { Id = item.Expediente_Id }, new { @class = "glyphicon glyphicon-log-in" })  
                            }
                            else
                            {
                                @Html.ActionLink(" ", "Archivar", "Expediente", new { Id = item.Expediente_Id }, new { @class = "glyphicon glyphicon-log-in" })                   
                            }
                            
                             

                        }                
                       
                    </td>
                  


                </tr>
            }
        </tbody>
    </table>

